* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding-bottom: 2rem;
}

.game-board-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  align-items: center;
  justify-content: center;
}

.game-board {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template: auto auto auto/ auto auto auto;
  background: whitesmoke;
}

.square {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid black;
  transition: background 0.2s ease-in-out;
}

.square:hover {
  cursor: pointer;
  background: lightblue;
}

.restart-btn {
  margin-top: 2rem;
  padding: .5rem;
  border: 1px solid yellowgreen;
  border-radius: 10%;
  font-size: 1rem;
  color: blue;
}

.restart-btn:hover {
  background-color: yellowgreen;
  transition: background 0.2s ease-in-out;
}

#s_0,
#s_1,
#s_2 {
  border-top: none;
}

#s_0,
#s_3,
#s_6 {
  border-left: none;
}

#s_2,
#s_5,
#s_8 {
  border-right: none;
}

#s_6,
#s_7,
#s_8 {
  border-bottom: none;
}
